<div *ngIf="showInput">
	<area-select [(extent)]="extent" (areaChanged)="onAreaChanged($event)"></area-select>
	<select [value]="prop" (change)="onPropChanged($event)">
		<option *ngFor="let alertProp of alertProps"
			value="{{alertProp.getId()}}">{{alertProp.getLabel()}}</option>
	</select>
	<select *ngIf="alertValues && alertValues.length > 0" [value]="value"
		(change)="onValueChanged($event)">
		<option *ngFor="let alertValue of alertValues"
			value="{{alertValue.getId()}}">{{alertValue.getLabel()}}</option>
	</select>
	<input *ngIf="!alertValues || alertValues.length <= 0" [value]="value" (change)="onValueChanged($event)"/>
	<label>
		<input type="checkbox" [(ngModel)]="includeClosed" (change)="onIncludeClosedChanged($event)"/>
		Include Closed Alerts
	</label>
</div>
<table class="table table-hover table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<th (click)="onOrderBy('ts')">From</th>
			<th *ngIf="includeClosed" (click)="onOrderBy('closed_ts')">To</th>
			<th (click)="onOrderBy('severity')">Severity</th>
			<th (click)="onOrderBy('mo_id')">Vehicle ID</th>
			<th (click)="onOrderBy('description')">Notes</th>
			<th (click)="onOrderBy('simulated')">Simulated Car</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let alert of (fleetalerts|orderBy:orderByKey:orderByOrder)">
			<td>{{alert.ts|moment:"YYYY/MM/DD HH:mm:ss"}}</td>
			<td *ngIf="includeClosed">{{alert.closed_ts>0?(alert.closed_ts|moment:"YYYY/MM/DD HH:mm:ss"):"-"}}</td>
			<td>{{alert.severity}}</td>
			<td><a href="javascript:void(0)" (click)="onMoIdClicked($event, alert.mo_id)">{{alert.mo_id}}</a></td>
			<td>{{alert.description}}</td>
			<td>{{alert.simulated ? "Simulated" : ""}}</td>
		</tr>
	</tbody>
</table>
