<div class="container-50 noTopPadding container-30-right">
  <form class="floatRight">
    <select [(ngModel)]="selectedArea">
      <option *ngFor="let area of areas" [ngValue]="area">{{area.name}}</option>
    </select>
  </form>

  <h4>MAP OF ALL CARS</h4>
</div>
<div class="marginTop">
  <fmdash-realtime-map [region]="selectedArea" on-change-extent="onChangeMapExtent(extent)"></fmdash-realtime-map>
  <div class="row">
    <div class="column-5-med container-50 dash-gray paddingTop-50">
      <fmdash-number-of-cars [region]="selectedArea"></fmdash-number-of-cars>
    </div>

    <div class="column-7-med container-50 paddingTop">
      <div class="floatRight">
        <a href="/admin/ui/device">Manage Devices</a>
      </div>
      <fmdash-number-of-cars [regions]="regions"></fmdash-number-of-cars>
    </div>
  </div>
</div>
