declared-services:
  FleetCloudantDB-SUFFIX-: 
    label: cloudantNoSQLDB 
    plan: Lite

applications:
  - services:
      - FleetCloudantDB-SUFFIX-
    name: iota-starter-server-fleetmgmt-SUFFIX-
    memory: 512M
#    host: iota-starter-server-fleetmgmt-SUFFIX-
#    domain: stage1.mybluemix.net
    path: .
    instances: 1
