declared-services:
  FleetCloudantDB-SUFFIX-: 
    label: cloudantNoSQLDB 
    plan: Lite
  FleetIoTForAuto-SUFFIX-:
    label: iotforautomotive
    plan: free_shared

applications:
  - services:
      - FleetCloudantDB-SUFFIX-
      - FleetIoTForAuto-SUFFIX-
    name: iota-starter-server-fleetmanagement-SUFFIX-
    memory: 512M
#    host: iota-starter-server-fleetmanagement-SUFFIX-
#    domain: stage1.mybluemix.net
    path: .
    instances: 1
