<div class="card marginTop primary">
  THE MO_ID: {{mo_id}}.
    <div class="row">
        <div class="column-6-med">
            <div class="row noOffsetRow">
                <div class="column-6-med">
                    Fuel Level
                </div>

                <div class="column-6-med">
                    <strong class="carStatus-strong green"><span class="numCounter">6</span>/8</strong>
                </div>
            </div>
        </div>

        <div class="column-6-med">
            <div class="speedometer-container">
                <div class="speedometer">
                    <div class="pointer" id="speedometer-pointer"></div>
                    <div class="speedometer bottom-bar"></div>
                </div>
            </div>
        </div>
    </div><!--end row-->

    <div class="row">
        <div class="column-6-med">
            <div class="row noOffsetRow">
                <div class="column-6-med">
                    Engine Oil Temperature
                </div>

                <div class="column-6-med">
                    <strong class="carStatus-strong red numCounter">220</strong>
                    <br />Centigrade
                </div>
            </div>
        </div>

        <div class="column-6-med">
            <div class="thermometer-container">
                <ul class="thermometer">
                    <li *ngFor="let i of [{cent: 60, frnh: 140},
                                         {cent: 120, frnh: 248},
                                         {cent: 180, frnh: 356},
                                         {cent: 240, frnh: 464},
                                         {cent: 300, frnh: 572}]">
                        <p class="frnh">{{i.frnh}}</p>
                        <p class="cent">{{i.cent}}</p>
                    </li>
                </ul>

                <div class="thermometer-range" id="thermometer-range"></div>
            </div>
        </div>
    </div><!--end row-->
</div>
