<div class="card marginTop primary">
  <div class="cardOverlay" id="cardOverlay">
      <p>Connection to database not successful</p>
  </div>

  <div class="floatRight">
    <a [routerLink]="['/map', {vehicleId: probeData?.mo_id}]">Show in Map</a>
  </div>
  <h3>Vehicle ID: {{device?.vehicle?.serial_number || mo_id}}</h3>

  <status-meter [minValue]="0" [maxValue]="100"
    [value]="probeData?.speed" status=""
    title="Speed" valueSuffix="" valueUnit="MPH" graphType="gauge">
  </status-meter>
  <status-meter [minValue]="0" [maxValue]="60"
    [value]="probeData?.props?.fuel"
    [status]="probeData?.info?.alerts?.fuelStatus"
    title="Fuel Level" valueSuffix="/60" valueUnit="" graphType="gauge">
  </status-meter>
  <status-meter [minValue]="30" [maxValue]="150"
    [value]="probeData?.props?.engineTemp"
    [status]="probeData?.info?.alerts?.engineTempStatus"
    title="Engine Oil Temperature" valueSuffix="" valueUnit="Centigrade" graphType="temp-bar">
  </status-meter>

  <div class="row marginTop-15">
    <div class="column-6-med">
        <status-hist-graph [minValue]="0" [maxValue]="80" [interval]="5000" [historyCount]="20"
          [value]="probeData?.speed"
          [status]=""
          title="Speed History" valueSuffix="" valueUnit="MPH">
        </status-hist-graph>
    </div>
    <div class="column-6-med">
        <status-hist-graph [minValue]="0" [maxValue]="60" [interval]="5000" [historyCount]="20"
          [value]="probeData?.props?.fuel"
          [status]="probeData?.info?.alerts?.fuelStatus"
          title="Fuel Level History" valueSuffix="" valueUnit="">
        </status-hist-graph>
    </div>
  </div>
</div>
