<div>
	<select (change)="onAreaChanged($event)">
		<option *ngFor="let area of areas" [ngValue]="area">{{area.name}}</option>
	</select>
	<div *ngIf="DEBUG">
		<label>Min Longitude <input [(value)]="min_lng" (change)="onExtentChanged()"/></label>
		<label>Min Latitude  <input [(value)]="min_lat" (change)="onExtentChanged()"/></label><br>
		<label>Max Longitude <input [(value)]="max_lng" (change)="onExtentChanged()"/></label>
		<label>Max Latitude  <input [(value)]="max_lat" (change)="onExtentChanged()"/></label>
		<button (click)="onClearArea()">Clear Area</button><br>
	</div>
</div>