<div>
  <div id="item-tool" class="item-tool" [hidden]="!supportedItems || supportedItems.length === 0">
    <div class="itemTypeSelection">
      <table>
        <tbody>
          <tr>
            <td style="white-space:nowrap;padding-left: 5px;">
            <div class="tabControl">
              <div class="tabLabel" [hidden]="supportedItems.indexOf('poi') < 0">
                <input id="tabPOI" type="radio" name="creationGroup" [(ngModel)]="creationMode" (ngModelChange)="onChangeMode()" value="poi">
                <label for="tabPOI">POI</label>
              </div>
              <div class="tabLabel" [hidden]="supportedItems.indexOf('event') < 0">
                <input id="tabEvent" type="radio" name="creationGroup" [(ngModel)]="creationMode" (ngModelChange)="onChangeMode()" value="event">
                <label for="tabEvent">Event</label>
              </div>
              <div class="tabLabel" [hidden]="supportedItems.indexOf('geofence') < 0">
                <input id="tabGeofence" type="radio" name="creationGroup" [(ngModel)]="creationMode" (ngModelChange)="onChangeMode()" value="geofence">
                <label for="tabGeofence">Geofence</label>
              </div>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="creationMode!=='event'" class="tabContents">
      <div class="toolPageDescription">Click on the map to create a new event.</div>
      <table class="toolPage">
        <tbody>
          <tr>
            <td class="toolItemLabel">Type: </td>
            <td class="toolItemValue">
              <select size=8 [(ngModel)]="selectedEventType" name="selectedEventType" style="width:100%;max-width:240px;">
                <option *ngFor="let eventType of eventTypes" [ngValue]="eventType">{{eventType.description||eventType.event_type}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="toolItemLabel">Direction: </td>
            <td class="toolItemValue">
              <select [(ngModel)]="eventDirection" name="eventDirection" style="width:100%;max-width:240px;">
                <option *ngFor="let dir of eventDirections" [ngValue]="dir.value">{{dir.label}}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="creationMode!=='geofence'" class="tabContents">
      <div class="toolPageDescription">Click the Add button to create a new geofence.</div>
      <table class="toolPage">
        <tbody>
          <tr class="toolItemRow">
            <td class="toolItemLabel">Type: </td>
            <td class="toolItemValue">
              <select [(ngModel)]="geofenceType" name="geofenceType" style="width:100%;">
                <option *ngFor="let type of geofenceTypes" [ngValue]="type.value">{{type.label}}</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr class="toolItemRow">
            <td class="toolItemLabel">Direction: </td>
            <td class="toolItemValue">
              <select [(ngModel)]="geofenceDirection" name="geofenceDirection" style="width:100%;">
                <option *ngFor="let dir of geofenceDirections" [ngValue]="dir.value">{{dir.label}}</option>
              </select>
            </td>
            <td><button style="margin-left:10px;" (click)="onCreateGeofence()">Add</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="creationMode!=='poi'" class="tabContents">
      <div class="toolPageDescription">Click on the map to create a new POI.</div>
      <table class="toolPage">
        <tbody>
          <tr class="toolItemRow">
            <td colspan="2" class="toolItemLabel">
              <span>
                <button [disabled]="requestSending" (click)="poifile.click()" >Import from CSV</button>
                <input type="file" id="uploadFile" style="display:none" (change)="uploadPOIFile($event)" [(ngModel)]="inputPOIFile" placeholder="Upload POIs" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" #poifile>
              </span>
            </td>
          </tr>
          <tr class="toolItemRow">
            <td class="toolItemLabel">
                Vehicle:
            </td>
            <td class="toolItemValue">
              <select class="toolSelection" [disabled]="requestSending" size=10 [(ngModel)]="targetVehicle" name="targetVehicle">
                <option *ngFor="let vehicle of targetVehicles" [ngValue]="vehicle">{{vehicle.__id?(vehicle.__id+"   (" + vehicle.mo_id + ")"):"-- (None) --"}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="toolItemValue">
              <span class="controlButtons">
                <button (click)="targetVehicle=null;onShowPrev()" [disabled]="requestSending||pageNumber<2">&lt;Prev</button>
                <button (click)="targetVehicle=null;onShowNext()" [disabled]="requestSending||!hasNext">Next&gt;</button>
              </span>
            </td>
          </tr>
          <tr class="toolItemRow">
            <td class="toolItemLabel">Name: </td>
            <td class="toolItemValue">
              <input [(ngModel)]="poiName" name="poiName" style="width:100%;" placeholder="POI name">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div [hidden]="creationMode!=='event' && creationMode!=='poi'" class="tabContents">
        <table class="toolPage">
            <tbody>
              <tr class="toolItemRow">
                <td class="toolItemLabel">Latitude: </td>
                <td class="toolItemValue">
                  <input [(ngModel)]="itemLatitude" name="latitude" style="width:100%;" placeholder="Latitude">
                </td>
              </tr>
              <tr class="toolItemRow">
                <td class="toolItemLabel">Longitude: </td>
                <td class="toolItemValue">
                  <input [(ngModel)]="itemLongitude" name="longitude" style="width:100%;" placeholder="Longitude">
                </td>
              </tr>
              <tr class="toolItemRow">
                <td colspan="2" class="toolItemLabel">
                  <button [disabled]="requestSending" style="margin-left:10px;" (click)="onCreateItem()">Create</button>
                </td>
              </tr>
<!--
              <tr class="toolItemRow" [hidden]="creationMode!=='poi'">
                <td colspan="2" class="toolItemLabel">
                  <button [disabled]="requestSending||!targetVehicle" (click)="onDeleteSelectedVehiclePOI()" style="white-space: nowrap">Delete POI for target vehicle</button>
                  <button [disabled]="requestSending" (click)="onDeleteAllPOI()" style="white-space: nowrap">Delete all</button>
                </td>
              </tr>
-->
            </tbody>
          </table>
        </div>  
  </div>
</div>
