<div class="html-client-drive">
	<h4>Define All Simulation Data: </h4>

	<!-- 
		Vehicle data simulation 
	-->
	<h5 class="categoryTitle">Vehicle Data</h5>
	<div>
		<span>
			<select ng-model="vehicleDataName" ng-init="vehicleDataName = null"  ng-change="updateVehicleDataName()">
				<option ng-repeat="rule in rules" value="{{rule.propName}}">{{rule.label}}</option>
			</select>
			<input size=8 ng-disabled="!vehicleDataName" placeholder="Value" ng-model="vehicleDataValue" class="vehicleDataValue" ng-change="updateVehicleDataValue()" />
		</span>
	</div>

	<!-- 
		Map for showing vehicle Location and route 
	-->
	<!-- Map -->
	<div style="margin-top:15px;margin-bottom:15px;" id="locationMap" class="locationMap">
		<!-- Map Overlay -->
		<button class="button mapCurrentLocation" ng-show="!traceCurrentLocation" ng-click="onCurrentLocation()">Current Location</button>
	 	<div class="mapProbe" ng-show="isDriving">
	 					Location=({{drivingEvent.latitude||0}},{{drivingEvent.longitude||0}})<br> 
	 					Speed={{(drivingEvent.speed/1.609344).toPrecision(3)}} MPH<br>
	 					Heading={{(drivingEvent.heading).toPrecision(3)}}<br>
	 					Fuel={{drivingEvent.props.fuel}}<br>
	 					Engine Temperature={{(drivingEvent.props.engineTemp*9/5+32).toPrecision(3)}} F</div>
	 	<div class="mapMessage" ng-show="routeSearching">Searching route...</div>
  	<div id="infopopup"></div>
	</div>
	<div id="console">{{console_message}}</div>

	<!-- 
		Route search options 
	-->
	<h5 class="categoryTitle">Route Planner</h5>
	<div>
		<div class="routeSettingPanel">
			<div class="routeOptions">
				<input style="margin-left: 0px;" type="checkbox" id="mouseMode" ng-model="mouseMode"/><label for="mouseMode">Set start location or destination by clicking on the map</label>
			</div>
			<div class="routeOptions">
				<span class="pointSelection">
					<input ng-disabled="!mouseMode" type="radio" name="actionGroup" ng-disabled="isDriving" ng-model="actionMode" value="action-car-position" id="start">
					<label for="start">Start location</label>
					<select ng-disabled="!mouseMode" ng-model="srcDirection" ng-options="dir.value as dir.label for dir in directions" ng-change="onChangeSrcDirection()" ng-disabled="isDriving"></select>
				</span>
				<span class="pointSelection">
					<input ng-disabled="!mouseMode" type="radio" name="actionGroup" ng-disabled="isDriving" ng-model="actionMode" value="action-route" id="destination">
					<label for="destination">Destination</label>
					<select ng-disabled="!mouseMode" ng-model="dstDirection" ng-options="dir.value as dir.label for dir in directions" ng-change="onChangeDstDirection()" ng-disabled="isDriving">></select>
				</span>
			</div>
			<div class="routeOptions">
				Waypoints
			</div>
			<div class="routeOptions">
				<select class="poiList" size="5" ng-model="selectedPOIID" ng-change="onPOISelected($index)">
					<option ng-repeat="poi in assignedPOIs track by $index" value="{{poi.id}}" ng-selected="selectedPOIID === poi.id">{{$index+1}}. {{poi.properties.name}} @{{poi.latitude}},{{poi.longitude}}</option>
				</select>
				<span class="poiListControl">
					<div><button  ng-click="onMoveUpPOI()">Up</button></div>
					<div><button  ng-click="onMoveDownPOI()">Down</button></div>
					<div style="margin-top: 20px;"><button  ng-click="onLoadPOI()">Reload</button></div>
				</span>
		 	</div>
			<div class="routeOptions" ng-hide="assignedPOIs.length > 0">
				<input type="checkbox" ng-disabled="isDriving" ng-model="opt_avoid_events" ng-change="onAvoidEventChange()" id="avoid"><label for="avoid">Avoid events</label>
				<input type="checkbox" ng-disabled="isDriving" ng-model="opt_route_loop" ng-change="onRouteLoop()" id="loop"><label for="loop">Loop between start and end positions</label>
			</div> 
		</div>
	</div>
</div>
