<div class="container html-client-trip">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<html-client-trip-list on-trip-selected="setSelectedTrip(trip)"></html-client-trip-list>
	</div>
	<div id="DETAIL" class="col-xs-12 col-sm-6 col-md-8">
		<html-client-trip-details trip="selectedTrip"></html-client-trip-details>
	</div>
	<a href="" class="to-top" ng-click="gotoTop()">
		<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
	</a>
	
	<!--
		A template for <html-client-trip-list/> component
	 -->
	<script type="text/ng-template" id="/html-client-trip-list.html">
		<div ng-if="httpError" class="alert alert-danger" role="alert">{{httpError}}</div>
		<span class="loading" ng-show="loading"><img src="/images/loading.gif"></span>
		<h3 ng-if="loading">Fetching trips...</h3>
		<span ng-hide="loading">
			<!-- 
			$scope.tripList: a list of {
				score: Number, 
				trip_id: String, 
				trip_uuid: String, 
				start_time: Number in mills from epoc,
				end_time: Number in mills from epoc,
				start_latitude: Number,
				start_longitude: Number,
				end_latitude: Number,
				end_longitude: Number,
			}
			$scope.trip_uuid
			-->
			<div class="trip-list">
				<h3 ng-if="!tripList">You have no trips.</h3>
				<div ng-if="tripList">
					<h3>You have {{tripList.length}} trips.</h3>
					<div class="list-group">
						<a href="" class="list-group-item trip-list-item"
							ng-click="setSelectedTrip(trip)"
							ng-repeat="trip in tripList | orderBy:'-start_time'" 
							ng-class="{active: trip === selectedTrip}">
							<div>{{trip.start_time | date:'medium'}}</div>
							<div class="trip-list-item-middle">{{((trip.end_time - trip.start_time)/60/1000) | number:0}}min</div>
							<div class="trip-list-item-right">
								Score {{trip.score && (trip.score | number:0) || '--'}}
							</div>
						</a>
					</div>
				</div>
			</div>
		</span>
	</script>
	<!--
		A template for <html-client-trip-details/> component
	 -->
	<script type="text/ng-template" id="/html-client-trip-detail.html">
		<div class="html-client-trip-detail">
			<h3>
				<span ng-if="!$ctrl.trip">No trip selected.</span>
				<span ng-if="$ctrl.trip">{{$ctrl.trip.start_time | date:'medium'}} 
					({{($ctrl.trip.end_time - $ctrl.trip.start_time)/60/1000 | number:0}} min)</span>
			</h3>
			<div ng-if="tripRouteHttpError" class="alert alert-danger" role="alert">{{tripRouteHttpError}}</div>
			<div class="trip-details-map">
				<!-- insert map component here -->
				<html-client-trip-map trip="tripRoute" details="selectedBehavior"></html-client-trip-map>
			</div>
			<div><span class="loading" ng-show="loading"><img src="/images/loading.gif"></span></div>
			<div class="trip-details" ng-show="$ctrl.trip" ng-hide="loading">
				<div ng-if="behaviorInfo" class="alert alert-info" role="alert">{{behaviorInfo}}</div>
				<div ng-if="behaviorHttpError" class="alert alert-danger" role="alert">{{behaviorHttpError}}</div>
				<div class="trip-details-behavior-list" ng-if="behaviors">
					<div class="list-group">
						<a href="" class="list-group-item behavior-list-item"
							ng-repeat="behavior in behaviors" 
							ng-click="setSelectedBehavior(behavior)"
							ng-class="{active: behavior.name === selectedBehavior.name}">
							<div>{{behavior.name}}</div>
							<div class="behavior-list-item-right">{{behavior.details.length}} occurrences</div>
						</a>
					</div>
				</div>
			</div>
			<!-- 
			<pre>{{tripDetailsBehaviorRaw}}</pre>
			<pre>{{tripDetailsRouteRaw}}</pre>
			-->
		</div>
	</script>
</div>
