<div>
  <div id="item-map" class="carMonitorMap" style="height: 100%;">
    <div><button class="itemTool primary" (click)="onClickTool()"><span [ngClass]="{'toolCollapsed': !showTool, 'toolExpanded': showTool }"></span>{{toolTitle}}</button></div>
    <div class="itemToolContent" [hidden]="!showTool"><fmdash-item-tool></fmdash-item-tool></div>
    <div class="mapLocationBar primary" (dblclick)="switchDebug(); $event.preventDefault()">Location - {{region?.name}}</div>
    <div id="popover"></div>
  </div>
  <table id="legend"></table>
  <div *ngIf="DEBUG">
    Map extent: {{debugData}} <button (click)="debugOut()">Refresh</button>
  </div>
</div>
