
<span class="col-xs-12 loading" [hidden]="!requestSending"><img src="/images/loading.gif"></span>
<div class="floatRight controlPanel">
	<span id="numRecInPage">
		<select [ngModel]="numRecInPage" (change)="onNumPageChanged($event.target.value)">
			<option [value]=5>5</option>
			<option [value]=10>10</option>
			<option [value]=25>25</option>
			<option [value]=50>50</option>
		</select>
		<span> vehicles per page</span>
	</span>
	<span id="controlButtons">
		<button (click)="selected_mo_id=null;onShowPrev()" [disabled]="requestSending||pageNumber<2">&lt;Prev</button>
		<button (click)="selected_mo_id=null;onShowNext()" [disabled]="requestSending||!hasNext">Next&gt;</button>
		<button (click)="selected_mo_id=null;onReload()" [disabled]="requestSending">Reload</button>
	</span>
</div>
<table class="table table-hover table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<th>#</th>
			<th class="sortable" (click)="onOrderBy('__id')">
				<span>ID</span><span [ngClass]="orderByKey==='__id'?(ascendingOrder?'ascending_order':'descending_order'):'none_order'"></span>
			</th>
			<th class="sortable" (click)="onOrderBy('vendor')">
				<span>Vendor</span><span [ngClass]="orderByKey==='vendor'?(ascendingOrder?'ascending_order':'descending_order'):'none_order'"></span>
			</th>
			<th class="sortable" (click)="onOrderBy('model')">
				<span>Model</span><span [ngClass]="orderByKey==='model'?(ascendingOrder?'ascending_order':'descending_order'):'none_order'"></span>
			</th>
			<th class="sortable" (click)="onOrderBy('status')">
				<span>Status</span><span [ngClass]="orderByKey==='status'?(ascendingOrder?'ascending_order':'descending_order'):'none_order'"></span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let vehicle of (vehicles|orderBy:orderByKey:!ascendingOrder); let i = index">
			<td class="alignCenter">{{numRecInPage * (pageNumber - 1) + i + 1}}</td>
			<td class="alignCenter">{{vehicle.__id||'-'}}</td>
			<td class="alignCenter">{{vehicle.vendor||'-'}}</td>
			<td class="alignCenter">{{vehicle.model||'-'}}</td>
			<td class="alignCenter">
				<span [ngClass]="!requestSending&&vehicle.status==='active'?'dropdown_base':''"
					(click)="selected_mo_id=(vehicle.status==='active')?(selected_mo_id!==vehicle.mo_id?vehicle.mo_id:null):null;">{{vehicle.status}}</span>
				<ul [ngClass]="selected_mo_id===vehicle.mo_id?'dropdown':'hidden'">
						<li class="dropdown_menu" (click)="selected_mo_id=null;onDeactivate(vehicle.mo_id)">Deactivate
				</ul>
			</td>
		</tr>
	</tbody>
</table>
